.App-logo {
  animation: App-logo-expand infinite 1s linear;
  height: 80px;
}

@keyframes App-logo-expand {
  from { transform: scale(1,1); }
  to { transform: scale(1.1,1.1); }
}

.spinner {
  border: 0px;
  border-top: 5px solid #222; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  margin-top: 20px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}